* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    display: block;
    background-color: rgba(0, 0, 0);
    height: 540px;
    padding-top: 5px;
    
}

.logoPic {
    background-image: url('./Imgs/BullLogo.webp');
    background-repeat: no-repeat;
    border: 0px solid rgb(209, 127, 127);
    background-size: 130%;
    background-position-x: center;
    background-position-y: center;
    filter: invert(100%);
    height: 350px;
    width: 350px;
    margin: auto;
    
}

.wobble:hover {
    animation: wobble 1s ease-in-out;
  }

  @keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-3%) rotate(-3deg); }
    30% { transform: translateX(3%) rotate(3deg); }
    45% { transform: translateX(-3%) rotate(-3deg); }
    60% { transform: translateX(3%) rotate(3deg); }
    75% { transform: translateX(-3%) rotate(-3deg); }
    100% { transform: translateX(0%); }
  }

.mainTitle {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -40px;
}

.bullDash {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 70px;
    height: 70px;
    background-image: url('./Imgs/bullDasing.webp');
    background-size: 170%;
    background-position-x: center;
    background-repeat: no-repeat;
    border: 0px solid rgb(209, 127, 127);
}

.hTagline {
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
}

.regLink {
    display: block;
    color: #2997ff;
    text-align: center;
    font-family: Arial;
    letter-spacing: 3px;
    font-weight: lighter;
    text-decoration: none;
}

.regLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section {
    margin-top: 20px;
    display: block;
    background-color: rgba(0, 0, 0);
    height: 560px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

.regLinkSec {
    display: block;
    color: #2997ff;
    text-align: center;
    font-family: Arial;
    letter-spacing: 3px;
    font-weight: lighter;
}

.regLinkSecEach {
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
}

.regLinkSecEach:hover {
    text-decoration: underline;
    cursor: pointer;
}

.imgSec {
    border: 1px solid rgb(209, 127, 127);
    height: 365px;
    width: 1050px;
    margin: auto;
    margin-top: 25px;
}

.eventsShowCase {
    display: flex;
    border: 1px solid rgb(209, 127, 127);
    height: 405px;
    width: 1250px;
    margin: auto;

}

.theMerits {
    margin-top: 20px;
    display: flex;
    background-color: rgb(219, 219, 219);
    height: 2350px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;  
    padding: 15px 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.meritsItems {
    flex-basis: 48%;
    border: 1px solid black;
    height: 560px;
}

.meritsItems::after {
    color: black;
    content: "{imagePlace}";
}


.imageShowCase {
    margin-top: 20px;
    display: block;
    background-color: rgb(219, 216, 175);
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; 
    overflow-x: hidden;
    overflow-y: hidden;
}

.imgSCasePlace {
    float: left;
    height: 550px;
    border: 1px solid black;
}

.imgSCaseM {
    width: 66%;
}

.imgSCaseL {
    margin-right: 1%;
    width: 16%;
}

.imgSCaseR {
    width: 16%;
    margin-left: 1%;
}

.aboutTab {
    margin-top: 20px;
    float: left;
    display: block;
    background-color: rgb(163, 163, 163);
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;  
}